meter {

    display: block;
    margin: 0 auto;

    width: 100%;
    height: 25px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid #ccc;
    border-radius: 3px;

    /* Firefox */
    background: none; /* Required to get rid of the default background prop. */
    background-color: whiteSmoke;
    box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-bar {

    background: none; /* Important to get rid of default background. */
    background-color: whiteSmoke;

    box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {

    transition: width .5s;
    box-shadow: 0 5px 5px -5px #999 inset;

    background-image: linear-gradient(90deg,
    #4a6b8c 0%,
    #4a6b8c 2.5%,
    #a26799 2.5%,
    #a26799 5%,
    #9d5c42 5%,
    #9d5c42 8%,
    #a59838 8%,
    #a59838 15%,
    #5e8d48 15%,
    #5e8d48 35%,
    #719fd1 35%,
    #719fd1 55%,
    #cf82bf 55%,
    #cf82bf 70%,
    #f28f68 70%,
    #f28f68 75%,
    #e6d450 75%,
    #e6d450 85%,
    #8bcf69 85%,
    #8bcf69 100%);

    background-size: 100% 100%;
}

meter::-webkit-meter-optimum-value:hover {

    background-image: linear-gradient(90deg,
    #4a6b8c 0%,
    #4a6b8c 2.5%,
    #a26799 2.5%,
    #a26799 5%,
    #9d5c42 5%,
    #9d5c42 8%,
    #a59838 8%,
    #a59838 15%,
    #5e8d48 15%,
    #5e8d48 35%,
    #719fd1 35%,
    #719fd1 55%,
    #cf82bf 55%,
    #cf82bf 70%,
    #f28f68 70%,
    #f28f68 75%,
    #e6d450 75%,
    #e6d450 85%,
    #8bcf69 85%,
    #8bcf69 100%);

    transition: width .5s;
    width: 100% !important; /* !important keyword used to override the inline style in ebkit browsers. */
}

meter::-moz-meter-bar {

    box-shadow: 0 5px 5px -5px #999 inset;

    background-image: linear-gradient(90deg,
    #4a6b8c 0%,
    #4a6b8c 2.5%,
    #a26799 2.5%,
    #a26799 5%,
    #9d5c42 5%,
    #9d5c42 8%,
    #a59838 8%,
    #a59838 15%,
    #5e8d48 15%,
    #5e8d48 35%,
    #719fd1 35%,
    #719fd1 55%,
    #cf82bf 55%,
    #cf82bf 70%,
    #f28f68 70%,
    #f28f68 75%,
    #e6d450 75%,
    #e6d450 85%,
    #8bcf69 85%,
    #8bcf69 100%);

    background-size: 100% 100%;
}



.free-space {

    float: right;
}

.swatch {

    margin: 0;
    padding: 0;
    margin: 1em auto;
    list-style-type: none;

    display: block;
    position: relative;
}

.swatch::before {

    content: '';
    width: 100%;
    height: 10px;
    outline: 0px solid #000;
    position: absolute;
    top: -20px;
    left: 0;
    border-radius: 2px;

    background-image: linear-gradient(90deg,
    #4a6b8c 0%,
    #4a6b8c 10%,
    #a26799 10%,
    #a26799 20%,
    #9d5c42 20%,
    #9d5c42 30%,
    #a59838 30%,
    #a59838 40%,
    #5e8d48 40%,
    #5e8d48 50%,
    #719fd1 50%,
    #719fd1 60%,
    #cf82bf 60%,
    #cf82bf 70%,
    #f28f68 70%,
    #f28f68 80%,
    #e6d450 80%,
    #e6d450 90%,
    #8bcf69 90%,
    #8bcf69 100%);

}

.swatch__elem {
    outline: 0px solid #c00;
    float: left;
    width: 10%;
    padding-left: 5px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-size: 75%;
}

.used-space {
    display: block;
    line-height: 2;
    font-size: 50%;
    color: #666;
}

.meter-gauge {

    border: 1px solid #ccc;
    border-radius: 3px;

    background-color: whiteSmoke;
    box-shadow: 0 5px 5px -5px #333 inset;


    height: 25px;

    display: block;
}

.meter-gauge > span {

    height: inherit;
    box-shadow: 0 5px 5px -5px #999 inset;

    background-color: blue;
    background-image: linear-gradient(90deg,
    #4a6b8c 0%,
    #4a6b8c 2.5%,
    #a26799 2.5%,
    #a26799 5%,
    #9d5c42 5%,
    #9d5c42 8%,
    #a59838 8%,
    #a59838 15%,
    #5e8d48 15%,
    #5e8d48 35%,
    #719fd1 35%,
    #719fd1 55%,
    #cf82bf 55%,
    #cf82bf 70%,
    #f28f68 70%,
    #f28f68 75%,
    #e6d450 75%,
    #e6d450 85%,
    #8bcf69 85%,
    #8bcf69 100%);

    background-size: 100% 100%;

    display: block;
    text-indent: -9999px;
}