/* CSS Document */

.page,
.page > div{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display:block;
	width: 100%;
	height: 8in;
	
	border: none !important;
}


.page > div:before{
	width: 100%;
	display:none !important;
}

#professional,
.page:nth-child(2) h1{
	display:block;
	text-align:left;
	background-color: #BA2303;
	border-bottom: 1px solid #BA2303;
}

.page:nth-child(2) p{
	margin: 10px  0px  10px  0px;
}
.page:nth-child(2) ul li{
	font-size:0.7em;
}

.page:nth-child(2) h2{
	color:#BA2303 !important;
}

li:before {
    content: "Ω ";
}
.page:nth-child(2) li:before{
	color: #BA2303;
}

