@import url('gstatic.css');

body {
    font-family: "Roboto", "Lucida Grande", "Lucida", sans-serif;
    color: #666666;
}

h1 {
    font-size: 1.5em;
    margin: 0 auto 2.5em;
    font-weight: 300;
    letter-spacing: 10px;

    background-color: #efefef;

    padding-left: 10px;
}

h2{
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 10px;

    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

p{
    line-height: 1.2em;
}

a{
    text-decoration: none;
    color: #719fd1;
}

code {
    font-family: Consolas, Monaco, monospace;
    font-size: 85%;
    font-weight: 400;
}